* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*BODY*/
body {
    background-color: #ffffff;
}

/*JUDUL*/

.header{
    background-color: blue;
    height: 50px;
}

.judul {
    color: #007bff;
}

.judul h2 {
    font-size: 25px;
}

.tambah {
    display: flex;
    justify-content: flex-end; 
    margin-bottom: 10px; 
    margin-right: 40px;
}

/* FORM FILTER */
.form-filter{
    display: flex;
    gap: 20px;
    padding: 20px;
    margin: 10px;
    background-color: #cecece;
}


/*TABEL DATA*/
table {
    margin: 0 auto;
    border: 1px solid;
    border-collapse: collapse;
    width: 70%;
    background: white;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    margin-bottom: 25px;
    align-content: left;
}

th, td {
    border: 1px solid #000000;
    padding: 5px;
    text-align: left;
}

th {
    background-color: #bcdcff;
    color: black;
    font-weight: 600;
}

/* DIAGRAM */
.diagram{
    width: 100%;
    display: flex;
    margin-top: 20px;
}

/* Tombol */
.tombol {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.tombol .btn, .btn-tampilkan {
    width: 100px;
    text-align: center;
    padding: 8px 0;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.btn-tampilkan {
    background-color: #28a745;
    color: white;
}

.tombol .btn-cetak,
.tombol .btn-ekspor {
    margin-left: 10px;
    background-color: #ee6b00;
    color: white;
}

.tombol .btn:hover {
    opacity: 0.9;
}

@media print {
    .no-print {
        display: none !important;
    }
}
